.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar {
  background-color: #1e90ff;
  color: #ffffff;
}
.navbar-brand {
  color: #ffffff;
}
.navbar-brand:hover {
  color: #ffffff;
}
.navbar-nav li a {
  color: #ffffff;
}
.navbar-nav li a:hover {
  color: #ffffff;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  padding-bottom: 0%;
 
}
